*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
body{
    background-color: aliceblue;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: max-content;
}
#divisao, #multiplicacao, #expoente{
    border-right: 2px solid rgba(115, 115, 115, 0.757);
    padding-right: 18px;
}
